language: python
python:
- '3.6'
- '3.5'
matrix:
  include:
  - python: 3.7.1
    dist: xenial
    sudo: true
services:
- postgresql
env:
- DJANGO_VERSION=2.0 DB=postgres
global:
- PGPORT=5432
before_install:
- cd decide
install:
- pip install -q -r ../requirements.txt
- pip install -q Django==$DJANGO_VERSION
before_script:
- rm -f local_settings.py
- cp -rf local_settings.travis.py local_settings.py
- psql -c "create user decide with password 'decide'"
- psql -c "create database decide owner decide"
- python manage.py migrate
script:
- python manage.py test
addons:
  postgresql: '9.6'
deploy:
  skip_cleanup: true
  provider: heroku
  api_key:
    secure: hEuY9xeSE0XjFXc0fBDML5udKmWpBuqAYDoQYQiRmjiQEcRQjrnoUJ+mJKpslLwy9Cu220jGLr1t3nvibKieskvIPZSPy+0aj6TxpUVhdRTCaYshZlhMinjgyjv3BiuQKR/N1GloaUlaNIpVQs305KyC0Rdg2F4S050QJaSAClDYQxx/5TM38N1/esubdgqP4Ie9aR0+5FTqjGRRCLibeNT+5hZYzuW2rJGmfybLrIiO84Y8l5Dw5BZSZa5EmTeBc1aTuHD+rUSkaTsLko6N4b5iyohgz92ucpYFeQl36p61lzQMSLNcsivWaNdXm/cWsv+GK9tjOK/IKAFmfo2Wg8MZHzQUJ5E/XttgteeM5ZAjiVKTiDVL6MAz0aeBe1e0vaFpHXT3ZERoGyUHan517yRAUXsqvAACR+JXh5sk0DYbXnW2coDsGEmAw3srb5w4w9s/IPDZy90OrIntjh/AGgGtxw22+DnvCqUfIw0QFy5rksP+/meJlZLSupvLj0PTYxYrUlfa0bfm5Xui+6I53PvjS2/7g3EiFyMQDs472PdUfGkvLfAEtVtn0XvQO8zMtKgelxTTVV1tWrD3Y7DwW9osTgRx6qCl44YA1JXx6WfWaizad5FjCH6E+iz/f5sIRMWQjp9yjeuegB2ZqKg3nZI0vnYwANVW4Azexu/v5XA=
  app: decide-europa-cabina
  strategy: git
